.schedule_card_container {
  display: flex;
  justify-content: space-between;
  padding: 0.625rem;
  border: 0.0625rem solid var(--border-card-color);
  font-size: 0.9375rem;
  align-items: center;
  border-radius: 0.625rem;
}

.card_right {
  display: flex;
  gap: 0.625rem;
}

.clock {
  color: var(--time-color);
  font-size: 3.125rem;
  padding: 0.78125rem;
  background-color: #d9ecf9;
  border-radius: 0.46875rem;
}

.name {
  color: var(--text--color);
  font-size: 1.25rem;
}

.card_right_info:last-child {
  font-size: 0.9375rem;
  color: var(--text-sec-color);
}

.time {
  color: var(--time-color);
  font-size: 1.25rem;
}
