.doctorProfile {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 2rem;
  margin: 4rem 10rem 4rem 10rem;
}

.doctorProfile > * {
  grid-column: 1 / -1;
}

@media (max-width: 1024px) {
  .doctorProfile {
    margin: 2rem;
  }
}
