.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  /* margin: 15rem; */
}
h2 {
  display: flex;
  gap: 0.5rem;
  font-size: 1.5rem;
}
h2 span {
  color: red;
}

.cards_container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
  gap: 1.5rem;
}
