@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-bg-doctor-profile: #f9fafc;
  --color-navbar-doctor: #ffffff;
  --border-card-color: #e3e5e7;
  --text--color: #000c1f;
  --text-sec-color: #968e91;
  --time-color: #3871df;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  scroll-behavior: smooth;
}

html {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  color: #000c1f;
  background-color: var(--color-bg-doctor-profile);
  min-height: 100dvh;
}



